[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]

[packages]
scikit-learn = "*"
pandas = "*"
yellowbrick = "*"
jupyter = "*"
seaborn = "*"
pandas-profiling = "*"

[requires]
python_version = "3.7"
